@import "./style.scss";

.main {
  margin:0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.containerImage{
  height: 25rem;
  width: 100%;

  .image{
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-image: url("https://source.unsplash.com/NFvdKIhxYlU");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .text{
    top:5rem;
    left:2rem;
    position: relative;
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
    color: #fff;
    z-index: 1;
  };

}

.children{
  margin-left: 14rem;
  background-color: $background-color;
}