$background-color-sidebar: #ffffff;
$background-color: #eceeef;

//BUTTON
$background-color-button: #35A3AB;
$background-color-button-hover: #68A6AB;

//FONT
$principal-font: #3A5C5E;
$secondary-font: #ffffff;