$background-color-sidebar: #ffffff;
$background-color: #e9e9e9a8;

//SIDEBAR
$border-sidebar-color:#b3b3b3;

//BUTTON
$background-color-button: #35A3AB;
$background-color-button-hover: #68A6AB;
$background-color-primary-button: #35A3AB;
$background-color-secondary-button: #6d6d6d;

//FONT
$principal-font: #3A5C5E;
$secondary-font: #ffffff;
$dim-font: rgb(176, 176, 176);